html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}


body {
    background-color: #E6CCB2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

main {
    max-width: 700px;
    width: 75%;
    margin: 32px auto;
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}


.page__title {
    color: #633D2C;
}

.page__content-list--link, .article__content--link, .page__navigation--button, .page__navigation--top {
    color: #A9684C;
}

.page__content-list--title {
    color: #8D563F;
}

.page__content-list--link {
    padding-left: 0;
}


.page__navigation--top {
    background-color: #774a36b0;
    box-sizing: border-box;
    position: fixed;
    padding: 16px;
    left: 0;
    top: 5px;
    width: 100%;
    border-radius: 30px;
    min-height: 48px;
}

.page__navigation--top-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.page__navigation--top-list-item {
    color: #ddb892;
    display: block;
    margin: 0 16px;
    text-decoration: none;
}

.page__navigation--button {
    background-color: #774a3656;
    color: #633D2C;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}

.page__footer {
    color: #633D2C;
    background-color: #774a3656;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.article__title {
    color: #8D563F;
}

.article__subtitle {
    color: #A9684C;
}

.article__content {
    color: black;
}

.article__image {
    max-width: 400px;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 16px;
    margin-top: 32px;
}

@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }

    body {
        padding: 16px;
        padding-top: 0;

    }

    .page__navigation--top {
        padding: 18px;

    }

    .page__navigation--top-list {
        flex-direction: column;
        display: none;
        margin: 0;
    }

    .page__navigation--top-list--visible {
        display: flex;
        padding: 16px 16px 0 16px;
    }

    .page__navigation--top-list-item {
        margin: 10px;
    }

    .navigation__switcher {
        border: none;
        background: none;
        position: fixed;
        left: 20px;
        top: 18px;
    }
}

@media (min-width: 640px) {
    .navigation__switcher {
        display: none;
    }
}