html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}


body {
    background-color: #E2F9B8;
    background: radial-gradient(circle, rgba(224, 248, 180, 0.45) 0%, rgba(131, 184, 33, 0.85) 100%);
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.page__title {
    color: #D16014;
}

.page__content-list--link, .article__content--link, .page__navigation--button, .page__navigation {
    color: #455320;
}

.page__content-list--link {
    padding-left: 0;
}

.page__navigation-list {
    background-color: #31371581;
    display: flex;
    position: fixed;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: -27px;
    padding: 8px 16px 8px 16px;
    border-radius: 30px;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 10;
}

.page__navigation-list {
    list-style: none;
    padding: 0;
}

.page__navigation-list-item {
    display: inline;
}

.page__navigation--button {
    background-color: #31371581;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}

.page__footer {
    color: #455320;
    background-color: #31371581;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.article__title {
    color: #313715;
}

.article__subtitle {
    color: #77824A;
}

.article__content {
    color: black;
}

.article__image {
    max-width: 400px;
    width: 100%;
    margin: 16px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media (max-width: 640px) {
    .grid {
        grid-template-columns: 1fr;
    }

    body {
        padding: 16px;
        padding-top: 0;
    }

    .page__navigation-list-item {
        padding: 16px;

    }

    .page__navigation-list {
        display: none;
        flex-direction: column;
    }

    .page__navigation-list--visible {
        display: flex;
    }

    .page__navigation--switcher {
        border: none;
        background: none;
        position: absolute;
        left: 16px;
        top: 16px;
    }

    .page__header {
        min-height: 48px;
    }

}

@media (min-width: 641px) {
    .page__navigation--switcher {
        display: none;
    }
}