html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}


body {
    background-color: #E2F9B8;
    background: radial-gradient(circle, rgba(224,248,180,0.45) 0%, rgba(131,184,33,0.85) 100%);
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    box-sizing: border-box;

}

.page__title {
    color: #D16014;
}

.page__content-list--link, .article__content--link, .page__navigation--button, .page__navigation--top {
    color: #455320;
}

.page__content-list--link {
    padding-left: 0;
}

.page__navigation--top {
    background-color: #31371581;
    display: flex;
    position: fixed;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: -27px;
    padding: 8px 16px 8px 16px;
    border-radius: 30px;
    flex-flow: row wrap;
    justify-content: center;
}

.page__navigation--top-list {
    list-style: none;
    padding: 0;
}

.page__navigation--top-list-item {
    display: inline;
}

.page__navigation--button {
    background-color: #31371581;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}

.page__footer {
    color: #455320;
    background-color: #31371581;
    border-radius: 30px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.article__title {
    color: #313715;
}

.article__subtitle {
    color: #77824A;
}

.article__content {
    color: black;
}

.article__image {
    max-width: 400px;
    width: 100%;
    margin: 16px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
}