body {
    background-color: #E2F9B8;
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    box-sizing: border-box;

}

.page__title {
    color: #D16014;
}

.page__content-list--link, .article__content--link, .page__navigation--button, .page__navigation--top {
    color: #455320;
}

.page__navigation--top{
    background-color: #31371581;
    display: block;
    position: fixed;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: -27px;
    padding: 16px;
    border-radius: 30px;
}

.page__navigation--button{
    background-color: #31371581;
    border-radius: 30px;
    padding:10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

.page__footer {
    color: #78903C;
}

.article__title {
    color: #313715;
}

.article__subtitle {
    color: #77824A;
}

.article__content {
    color: black;
}

.article__image{
    max-width: 400px;
    width: 100%;
    margin: 16px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
}