body {
    background-color: black;
}

.mainHeader {
    color: white;
}

.sectionHeader {
    color: lightgray;
}

.pHeader {
    color: gray;
}

.paragraph {
    color: lightblue;
}

.footer{
    color: gray;
}